* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    background: linear-gradient(to bottom right, rgb(244, 231, 83), rgb(255, 225, 0));
    font-family: 'PT Serif', serif;
}

.main {
    border: .5rem solid rgb(255, 225, 0);
    height: 100vh;
    width: 100vw;
}

.Top-pane {
    border: .2rem solid rgb(255, 225, 0);
    height: 50%;
    width: 100%;
}

.Bottom-pane {
    border: .2rem solid rgb(255, 225, 0);
    height: 50%;
    width: 100%;
    text-align: center;
}


.box-word-top {
    /* border: .2rem dashed greenyellow; */
    height: 50%;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}

.box-word {
    border: .2rem dashed white;
    height: 50%;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}

.words {
    float: left;
    height: 100%;
    width: 50%;
    /* border: .2rem dashed white; */
}

.chances {
    float: right;
    height: 100%;
    width: 50%;
    /* border: .2rem dashed white; */
}

.word {
    margin-top: 4%;
    letter-spacing: .2rem;
    color: darkgreen;
}

.dash {
    margin-top: -3.8rem;
    letter-spacing: .17rem;
}

.btn {
    display: inline-block;
    margin-top: 4%;
    font-size: 3rem;
    height: 5rem;
    width: 5rem;
    border-radius: .2rem;
    border: .2rem solid black;

    border-radius: 50%;
}

.green {
    color:black;
}

.red {
    color:black;
    background-color: red;
}

.btn-a {
    height: 3rem;
    width: 3rem;
    margin: .1rem;
    border-radius: .2rem;
    border: .1rem solid white;
    transition: all .2s;

    font-weight: bold;
    color: black;
}

.on-hover {
    transform: translateY(-.4rem);
    box-shadow: .3rem .3rem .2rem .1rem rgba(0, 0, 0, .2);
}

.btn-a:active {
    border: .1rem solid white;
    transform: translateY(.3rem);
}


.alphabets {
    margin-top: 3rem;
}

.wrong {
    background-color: rgb(214, 25, 25, 1);
}

.right {
    background-color:rgb(12, 255, 0, 1);
}

.messageWin {
    /* margin-top: 3rem; */
    font-size: 3rem;
}

.reset {
    height: 2rem;
    width: 7rem;

    border-radius: .4rem;
    /* border-radius: 50%; */
    background-color:  rgba(238, 4, 4, 0.685);

    font-size: 1.5rem;
    border: .1rem solid red;

    transition: all 0.2s;
}

.reset:hover {
    transform: translateY(-.3rem);
    box-shadow: .3rem .3rem .2rem .1rem rgba(0, 0, 0, .2);
}

.reset:active {
    transform: translateY(.2rem);
}

.hint-section {
    /* border: .2rem solid black; */
    margin-top: 2rem;
    margin-left: 2rem;
}

.hint {
    float: left;

    height: 3rem;
    width: 7rem;

    border-radius: .4rem;
    /* border-radius: 50%; */
    background-color:  rgba(24, 186, 0, 1);

    font-size: 2rem;
    border: .1rem solid rgba(24, 186, 0, 1);

    transition: all 0.2s;
}

.hint:hover {
    transform: translateY(-.3rem);
    box-shadow: .3rem .3rem .2rem .1rem rgba(0, 0, 0, .2);
}

.hint:active {
    transform: translateY(.2rem);
}

.hint-message {
    margin-top: .5rem;
    float: left;
    font-size: 2rem;
    margin-left: 3rem;
}

.hidden {
    display: none;
}