* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
}

.area {
    /* border: .2rem solid black; */
    background-color: white;
    height: 45vh; 
}

.text-area {
    margin-top: .2rem;
    font-size: 1rem;
}

.keyboard {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right, lightgray, gray);
    padding: .2rem;
    /* text-align: center; */
}

.numbers-section {
    display: flex;
    align-items: stretch;
    margin-top: .1rem;
    font-size: 1.5rem;
}

.tab-section {
    display: flex;
    align-items: stretch;
    /* margin-top: 1rem; */
    font-size: 1.5rem;
}

.shift-section {
    display: flex;
    align-items: stretch;
    /* margin-top: 1rem; */
    font-size: 1.5rem;
}

.caps-section {
    display: flex;
    align-items: stretch;
    /* margin-top: 1rem; */
    font-size: 1.5rem;
}

.ctrl-section {
    display: flex;
    align-items: stretch;
    /* margin-top: 1rem; */
    font-size: 1.5rem;
}

.num {
    border: .13rem solid black;
    margin: .1rem;
    padding: .5rem;
    height: 3.65rem;
    border-radius: .2rem;
    transition: all .2s;
    text-align: center;
}

/* .num:hover {
    transform: translateY(-.2rem);
}

.num:active {
    background-color: white;
    color: black;
    transform: translateY(.1rem);
} */

.num-active {
    background-color: white;
    color: black;
    transform: translateY(.1rem);
}
