* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
    height: 100vh;
    padding: 2rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    /* border: .1rem solid black; */
}

.welcome {
    font-size: 2rem;
}

.head-title {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

/* TODO Common Login Buttons */
.login__input {
    font-size: 1.7rem;
    height: 3rem;
    width: 12rem;
    border-radius: 2rem;
    text-align: center;

    /** Animation Delay */
    border: 0.01rem solid white;
    transition: all 0.4s;
}

/** On Focus Animation */
.login__input:focus {
    outline: none;
    border: .01rem solid #ccc;
}

/* ! Signin Button */
.login__input--signin {
    width: 5rem;
    color: black;
    background-color: rgb(49, 151, 49);
}

.main {
    /* border: .2rem solid black; */
    margin-top: .5rem;
    padding: 2rem 2rem 2rem 2rem;

    height: 90vh;
    margin-bottom: 2rem;
    /* NOTE This creates the fade in/out anumation */
    opacity: 100;
    transition: all 1s;
}

.balance {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.balance__info {
    font-size: 2rem;
    /* font-weight: bold; */
    color: #000000;
}

.balance__info--label {
    margin-left: 6rem;
    font-size: 3.5rem;
}

.balance__info--date {
    margin-left: 6rem;
    font-size: 2rem;
    color: #434343;
}

.balance__info--value {
    margin-right: 6rem;
    font-size: 3rem;
    color: #434343;
    font-style: italic;   
}

.transactions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 1rem;
}

.movements {
    margin-left: 3rem;
    /* border: .3rem solid gray; */
    width: 50%;
    height: 100%;
    overflow: scroll;

    padding: 1rem 0rem 0rem 1rem;
    background-color: white;

    border-radius: 1rem;
}

.movements__row {
    height: 5rem;
    /* border: .1rem solid green; */
    width: 100%; 

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 2rem 2rem;

    text-align: center;

}

.movements__type {
    border-radius: 1rem;
    width: 10rem;
    height: 2rem;

    color:white;
    padding: 0.3rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.movements__value {
    font-size: 2rem;
    color: #000;
    /* font-weight: bold; */
}

.movements__type--deposit {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.actions {
    padding: 0rem 0rem 0rem 1rem;
    margin-right: 3rem;
    /* border: .3rem solid red; */
    width: 50%;
    height: 100%;
}

.actions__types {

    height: 12rem;
    width: 100%;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 1.5rem;

    font-family:'Courier New', Courier, monospace;
}

.action__label {
    font-weight: bold;    
    font-size: 2rem;
}

.actions__input {
    border: none;
    border-radius: 0.7rem;
    text-align: center;
    padding: 0.3rem 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;

    width: 18rem;
    background-color: rgb(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.actions__btn {
    background-color: white;
    color: black;
    width: 4rem;
    font-size: 1.8rem;
    border-radius: 0.7rem;
    border: none;
}

.form__label {
    font-size: 1.5rem;
    /* padding: 1rem 0rem; */
    width: 18rem;
    padding: .5rem 1rem 1rem 6rem;
}

.actions__input:focus {
    outline: none;
    background-color: rgb(255, 255, 255, 0.6);
}


.actions--transferAmount {
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.actions--requestLoan {
    margin-top: 1.2rem;
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.actions--closeAccount {
    margin-top: 1.2rem;
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.summary {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin-left: 3rem;
    margin-right: 3rem;
}

.summary__label {
    display: inline;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-right: 0.8rem;
}

.summary__value {
    display: inline;
    font-size: 2rem;
    text-transform: uppercase;
    margin-right: 2.5rem;
}

.summary__value--in, .summary__value--interest {
    color: #66c873;
}

.summary__value--out {
    color: #f5465d;
}

.btn--sort {
    margin-left: 5rem;
    border: none;
    background-color: white;
    display: inline;

    background-color: white;
    color: black;
    width: 8rem; 
    font-size: 1.8rem;
    border-radius: 0.7rem;
    border: none;
}

