* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

.analog__container {
    height: 30rem;
    width: 30rem;
    background-image: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 1)
    );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.analog__shape {
    height: 25rem;
    width: 25rem;
    border-radius: 50rem;
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 1)
    );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.4rem solid black;
    box-shadow: inset 1rem 1rem 5rem 0.3rem rgba(0, 0, 0, 0.85);
}

.face__no {
    font-size: 2.7rem;
    font-weight: 100;
    padding: 0 0.5rem;
}

.face__no--12 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.face__no--1 {
    position: absolute;
    top: 6%;
    left: 72%;
    transform: translateX(-50%);
}

.face__no--2 {
    position: absolute;
    top: 21%;
    left: 88%;
    transform: translateX(-50%);
}

.face__no--3 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.face__no--4 {
    position: absolute;
    top: 81%;
    left: 72%;
    transform: translateX(-50%);
}

.face__no--5 {
    position: absolute;
    top: 66%;
    left: 88%;
    transform: translateX(-50%);
}

.face__no--6 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.face__no--7 {
    position: absolute;
    top: 81%;
    left: 27%;
    transform: translateX(-50%);
}

.face__no--8 {
    position: absolute;
    top: 66%;
    left: 12%;
    transform: translateX(-50%);
}

.face__no--9 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.face__no--10 {
    position: absolute;
    top: 6%;
    left: 27%;
    transform: translateX(-50%);
}

.face__no--11 {
    position: absolute;
    top: 21%;
    left: 12%;
    transform: translateX(-50%);
}

.face__center {
    height: 1.8rem;
    width: 1.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.4rem solid rgba(255, 255, 255, 1);
    background-color: black;
    border-radius: 50rem;
}

.face__hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.7);
    transition: all 1s;
}

.face__hands--seconds {
    width: 0.2rem;
    height: 9rem;
    background-color: rgba(255, 0, 0, 0.9);
    z-index: 3;
    transform: translate(-50%, -100%);
}

.face__hands--minutes {
    width: 0.4rem;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    transform: translate(-50%, -100%) rotate(45deg);
}

.face__hands--hours {
    width: 0.8rem;
    height: 6.5rem;
    background-color: rgba(0, 0, 0, 0.9);
    /* border: .1rem solid white; */
    z-index: 1;
    transform: translate(-50%, -100%) rotate(90deg);
}

.time__cycle {
    width: 13rem;
    height: 3.5rem;
    background-color: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 1)
    );
    border: 0.3rem solid black;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.7);
    border-radius: 0.4rem;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
    padding: 0.2rem 0rem;
    font-weight: 400;
}

/** Media Queries */

@media (max-width: 37.5em) {
    body {
        font-size: 30%;
    }

    .analog__container {
        /* height: 22rem; */
        height: 100%;
        width: 100%;
        /* width: 25rem; */
    }

    .analog__shape {
        height: 17rem;
        width: 17rem;
    }

    .face__no {
        font-size: 1.7rem;
    }

    .face__hands--seconds {
        height: 6rem;
    }

    .face__hands--minutes {
        height: 5.5rem;
    }

    .face__hands--hours {
        height: 4rem;
    }

    .time__cycle {
        width: 10rem;
        height: 2.5rem;
        border-radius: 0.2rem;
        border: 0.2rem solid black;
        font-size: 1.5rem;
        font-weight: 100;
    }
}
